body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Einfacher-Grafikrahmen {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Einfacher-Textrahmen {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#0b3650;
	font-family:"Myriad Pro", sans-serif;
	font-size:1800px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:1200px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"Myriad Pro", sans-serif;
	font-size:1000px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"Myriad Pro", sans-serif;
	font-size:1400px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:800px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-7 {
	color:#0b3650;
	font-family:"Myriad Pro", sans-serif;
	font-size:700px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:700px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:600px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(1645.103px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1645.103px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1645.103px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1645.103px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:238.90px;
}
#_idContainer001 {
	-ms-transform:translate(35.999px,118.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.999px,118.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:178.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,118.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.999px,118.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1848.00px;
}
#_idContainer002 {
	-ms-transform:translate(-0.001px,344.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,344.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:255.47px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,344.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,344.692px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1920.00px;
}
#_idContainer003 {
	-ms-transform:translate(35.999px,370.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.999px,370.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:62.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,370.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.999px,370.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1848.00px;
}
#_idContainer004 {
	-ms-transform:translate(616.940px,445.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(616.940px,445.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:133.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(616.940px,445.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(616.940px,445.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:209.44px;
}
#_idContainer005 {
	-ms-transform:translate(855.279px,445.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(855.279px,445.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:133.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(855.279px,445.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(855.279px,445.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:209.44px;
}
#_idContainer006 {
	-ms-transform:translate(1093.618px,445.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1093.618px,445.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:133.73px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1093.618px,445.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1093.618px,445.770px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:209.44px;
}
#_idContainer007 {
	-ms-transform:translate(133.240px,675.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(133.240px,675.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(133.240px,675.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(133.240px,675.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:408.92px;
}
#_idContainer008 {
	-ms-transform:translate(133.240px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(133.240px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:275.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(133.240px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(133.240px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:523.99px;
}
#_idContainer009 {
	-ms-transform:translate(802.375px,675.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(802.375px,675.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:51.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(802.375px,675.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(802.375px,675.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:518.67px;
}
#_idContainer010 {
	-ms-transform:translate(802.375px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(802.375px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:80.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(802.375px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(802.375px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:194.42px;
}
#_idContainer011 {
	-ms-transform:translate(1090.879px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1090.879px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:80.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1090.879px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1090.879px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:361.00px;
}
#_idContainer012 {
	-ms-transform:translate(1545.967px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1545.967px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:80.11px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1545.967px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1545.967px,730.398px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:240.79px;
}
#_idContainer013 {
	-ms-transform:translate(802.375px,817.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(802.375px,817.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:187.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(802.375px,817.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(802.375px,817.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:194.42px;
}
#_idContainer014 {
	-ms-transform:translate(1174.171px,817.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1174.171px,817.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:187.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1174.171px,817.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1174.171px,817.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:194.42px;
}
#_idContainer015 {
	-ms-transform:translate(1569.154px,817.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1569.154px,817.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:187.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1569.154px,817.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1569.154px,817.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:194.42px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
