/* Add custom fonts */
/* inter-100 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100;
	src: url('https://office.asta-hhn.de/fonts/inter-v2-latin-100.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-100.woff') format('woff'), /* Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-100.svg#Inter') format('svg'); /* Legacy iOS */
  }
  
  /* inter-300 - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	src: url('https://office.asta-hhn.de/fonts/inter-v2-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-300.woff') format('woff'), /* Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-300.svg#Inter') format('svg'); /* Legacy iOS */
  }
  
  /* inter-200 - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 200;
	src: url('https://office.asta-hhn.de/fonts/inter-v2-latin-200.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-200.woff') format('woff'), /* Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-200.svg#Inter') format('svg'); /* Legacy iOS */
  }
  
  /* inter-regular - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('https://office.asta-hhn.de/fonts/inter-v2-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
  }
  
  /* inter-600 - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url('https://office.asta-hhn.de/fonts/inter-v2-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-600.woff') format('woff'), /* Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-600.svg#Inter') format('svg'); /* Legacy iOS */
  }
  
  /* inter-700 - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: url('https://office.asta-hhn.de/fonts/inter-v2-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-700.woff') format('woff'), /* Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
  }
  
  /* inter-500 - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src: url('https://office.asta-hhn.de/fonts/inter-v2-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-500.woff') format('woff'), /* Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-500.svg#Inter') format('svg'); /* Legacy iOS */
  }
  
  /* inter-900 - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	src: url('https://office.asta-hhn.de/fonts/inter-v2-latin-900.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-900.woff') format('woff'), /* Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-900.svg#Inter') format('svg'); /* Legacy iOS */
  }
  
  /* inter-800 - latin */
  @font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	src: url('https://office.asta-hhn.de/fonts/inter-v2-latin-800.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-800.woff') format('woff'), /* Modern Browsers */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('https://office.asta-hhn.de/fonts/inter-v2-latin-800.svg#Inter') format('svg'); /* Legacy iOS */
  }

html {
	overflow-x: hidden;
	overflow-y: hidden;
   }

html, body {
   margin: 0px; 
	padding: 0px; 
	height: 100%; 
   border: none;   
font-family: 'Inter'!important;
   }

#logo-container {
text-align: right;
}
#tagline {
	color: #0b3650!important;
	font-weight: 700;
}
#logo {
	height: 10vh;
}
#timer {
	text-align: center;
}
#status {
	text-align: center;
	margin-top: -10vh;
	color: black;
	font-size: 3vh;
}
#tagline {
	font-size: 8vh;
}
h1 {
	font-weight: 700!important;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	font-weight: 700!important;
}
h3 {
	font-weight: 700!important;
	color: #0b3650!important;
}
#header {
	height: 35%;
	text-align: center;
}
#timer {
	height: 25%;
	background-color: #0b3650;
}
#time {
	font-size: 6vh;
	font-weight: 700;
}
#time-desc {
	font-size: 3vh;
}

#footer {
	height: 40%;
	padding-top: 2%;
}
#qr {
	height: 15vh;
}
.person {
	text-align: center;
}